<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>

    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}"
          href="../static/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/side-bar.css}"
          href="../static/css/side-bar.css"/>
    <script th:src="@{/bootstrap/jquery.js}" src="../static/bootstrap/jquery.js"/>
    <script th:src="@{/bootstrap/bootstrap.min.js}" src="../static/bootstrap/bootstrap.min.js"/>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <!--<h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>-->
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

