<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>User page</h1>
        <br/>
        <h3 data-th-inline="text">Employees</h3>
        <br/>
        <table class="table" style="width: 150px">
            <tr data-th-each="employee: ${employees}">
                <td data-th-text="${employee.firstName}">First Name</td>
                <td data-th-text="${employee.lastName}">Last Name</td>
                <th:block th:each="project: ${employee.projects}">
                    <td style="background-color: #9d9d9d" th:text="${project.clientName}">Client name</td>
                </th:block>
            </tr>

        </table>

        <br/>
        <br/>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-default" type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>