.guest-wrapper {
    padding: 0;
    margin: 0;
}

.guest-wrapper .guest-wrapper-page {
    width: 80%;
    margin: 0 auto;
}

.guest-wrapper .guest-wrapper-page .guest-body {
    width: 100%;
    height: auto;
}

.guest-body {
    margin: 5% 0;
}
.guest-body .register-login-form {
    margin: 10%;
}