<h1>{{title}}</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/login">Login/Logout</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/employees">Employees</a>
</nav>
<router-outlet></router-outlet>
