<h3>Top Employees</h3>
<div class="grid grid-pad">
  <a *ngFor="let employee of employees" [routerLink]="['/detail', employee.id]" class="col-1-4">
    <div class="module employee">
      <h4>{{employee.name}}</h4>
    </div>
  </a>
</div>
<employee-search></employee-search>
