<h2>List of Employees</h2>
<div>
  <label>Employee name:</label> <input #employeeName/>
  <button (click)="add(employeeName.value); employeeName.value=''">
    Add
  </button>
</div>
<ul class="employees">
  <li *ngFor="let employee of employees"
      [class.selected]="employee === selectedEmployee"
      (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span>
    <span>{{employee.name}}</span>
    <button class="delete"
            (click)="delete(employee); $event.stopPropagation()">x
    </button>
  </li>
</ul>
<div *ngIf="selectedEmployee">
  <h2>
    {{selectedEmployee.name | uppercase}} is the employee of the month!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
