<div *ngIf="employee">
  <h2>Details about</h2>
  <h3>{{employee.name}}</h3>
  <div><label>id: </label>{{employee.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="employee.name" placeholder="name"/>
  </div>
  <br/>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
